@charset "utf-8";

.wrap {
	height:100%;
	.page-wrap {
		overflow:hidden;
		display:flex;
		flex-direction:column;
		height:100%;
	}
	.page-header {
		flex:none;
		display:flex;
		align-items:center;
		justify-content:space-between;
		padding:0 1.6rem;
		background-color:var(--blue-900);
		.header-item {
			display:flex;
			align-items:center;
			&:nth-child(1) {
				gap:1rem;
			}
			&:nth-child(2) {
				gap:.6rem;
			}
			.btn-sidebar {
				width:2.8rem;
				height:2.8rem;
				background:url(../images/ico/ico_3line_w.png) no-repeat 50%;
				background-size:1.8rem;
				text-align:center;
				transition:all .3s;
			}
			.search {
				display:flex;
				align-items:center;
				position:relative;
				width:21rem;
				margin-right:.8rem;
				form {
					width:100%;
				}
				input {
					flex:1;
					padding-right:3.4rem;
				}
				button {
					position:absolute;
					right:0;
					top:0;
					width:3.4rem;
					height:3.2rem;
					margin:1px;
					border-left:1px solid #e8e8e8;
					background:#fff url(../images/ico/ico_search_b.png) no-repeat 50%;
					background-size:2.2rem;
				}
			}
			.setup {
				width:2.8rem;
				height:2.8rem;
				background:url(../images/ico/ico_setup_w.png) no-repeat 50%;
				background-size:2rem;
				transition:all .3s;
			}
			.avatar {
				width:2.8rem;
				height:2.8rem;
				background:url(../images/ico/ico_person_w.png) no-repeat 50%;
				background-size:2.2rem;
				transition:all .3s;
			}
		}
	}
	.breadcrumbs {
		flex:none;
		padding:1.2rem 2rem .2rem;
		ol {
			display:flex;
			align-items:center;
			gap:.6rem;
			li {
				display:flex;
				align-items:center;
				gap:.6rem;
				color:var(--gray-400);
				& ~ li {
					&::before {
						content:'';
						display:block;
						width:.8rem;
						height:.8rem;
						background:url(../images/ico/ico_chevron_right_b.png) no-repeat 50%;
						background-size:.8rem;
						opacity:.2;
					}
				}
				&.home {
					a {
						display:flex;
						gap:.2rem;
						color:var(--gray-900);
						&::before {
							content:'';
							width:1.8rem;
							height:1.8rem;
							background:url(../images/ico/ico_home_b.png) no-repeat 50%;
							background-size:1.2rem;
						}
					}
				}
			}
		}
	}
	.page-container {
		flex:1;
		overflow-y:auto;
		overflow-x:hidden;
		.iframe-container {
			overflow-x:auto;
			overflow-y:hidden;
			position:relative;
			width:100%;
			height:100%;
			iframe {
				width:100%;
				min-width:120rem;
				height:100%;
				min-height:0;
				border:none;
			}
		}
	}
}
.page-content {
	padding:1.6rem 2rem;
}

.sidebar-wrap, .sidebar-inner {
	width:24rem;
}
.sidebar-header,
.page-header {
	height:6.5rem;
}
.sidebar-wrap {
	float:left;
	overflow:hidden;
	position:sticky;
	left:0;
	z-index:10;
	height:100%;
	background-color:var(--blue-600);
	transition:width .3s;
	.sidebar-inner {
		display:flex;
		flex-direction:column;
		height:100%;
	}
	&.off {
		overflow:hidden;
		width:0;
	}
	.sidebar-header {
		/* background-color:var(--blue-900); */
		h1 {
			display:flex;
			align-items:center;
			justify-content:center;
			height:6.5rem;
			color:#fff;
		}
	}
	.sidebar-content {
		flex:1;
		overflow-y:auto;
		overflow-x:hidden;
		&::-webkit-scrollbar-thumb {
			background-color:rgba(0,0,0,.2);
		}
	}
	.sidebar-menu {
		padding:1.2rem;
		.sidebar-menu-item {
			h2 {
				border-bottom:1px solid rgba(0,0,0,.15);
				button {
					position:relative;
					padding:1.6rem 3.2rem 1.6rem 1.2rem;
					color:var(--blue-100);
					&:not(:focus):hover {
						color:var(--white);
					}
					&::after {
						content:'';
						position:absolute;
						right:1.2rem;
						top:50%;
						margin-top:-.2rem;
						padding:.3rem;
						border:solid var(--blue-100);
						border-width:0 .2rem .2rem 0;
						transform:rotate(45deg);
					}
				}
			}
			&.on {
				h2 {
					button {
						color:var(--white);
						&::after {
							border:solid var(--white);
							border-width:0 .2rem .2rem 0;
							transform:rotate(225deg);
						}
					}
				}
			}
			.sidebar-pannel {
				max-height:0;
				overflow:hidden;
				visibility:hidden;
				transition:max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s;
				ul {
					margin-top:1rem;
					li {
						& ~ li {
							margin-top:.1rem;
						}
						a {
							display:block;
							padding:.8rem 1.2rem;
							color:rgba(255,255,255,.6);
							transition:all .3s;
							&:not(:focus):hover,
							&.on {
								background-color:rgba(255,255,255,.1);
								border-radius:.6rem;
								color:#fff;
							}
							&:before {
								content:'- ';
							}
						}
					}
				}
			}
			&.on {
				.sidebar-pannel {
					max-height:100rem; /* 충분히 큰 값으로 설정 */
					visibility:visible;
				}
			}
		}
	}
}

.main-tabs, .sub-tabs {
	flex:none;
	overflow-x:auto;
	overflow-y:hidden;
	border-bottom:1px solid #e6e9ed;
	background-color:#fff;
	.inner {
		position:relative;
		height:4.2rem;
		ul {
			display:flex;
			align-items:center;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding-left:2rem;
			li {
				height:100%;
				&:last-child {
					padding-right:2rem;
				}
				> div {
					display:flex;
					position:relative;
					height:100%;
					padding-right:.8rem;
					a {
						display:flex;
						align-items:center;
						height:100%;
						padding:0 .4rem 0 1.2rem;
						font-size:1.4rem;
						color:var(--gray-600);
						white-space:nowrap;
						&:not(:focus):hover {
							color:var(--blue-600);
						}
					}
				}
				&.on {
					> div {
						&::before {
							content:'';
							position:absolute;
							left:0;
							bottom:0;
							width:100%;
							height:.3rem;
							background-color:var(--blue-600);
						}
						a {
							font-weight:700;
							color:var(--blue-600);
						}
					}
				}
				.actions {
					display:flex;
					align-items:center;
					gap:.2rem;
					button {
						width:2rem;
						height:2rem;
						transition:all .3s;
						opacity:.4;
						&.refresh {
							background:url(../images/ico/ico_refresh_b.png) no-repeat 50%;
							background-size:1.5rem;
						}
						&.close {
							background:url(../images/ico/ico_close_b.png) no-repeat 50%;
							background-size:1.2rem;
						}
						&:not(:focus):hover {
							opacity:1;
						}
					}
				}
			}
		}
	}
	&::-webkit-scrollbar {
		display:none;
	}
}
