@charset "utf-8";

/* =======================
	DASHBOARD
======================= */
.dashboard-wrap {
	[class*="stat-card"] {
		.tits2 {
			margin-bottom:.4rem;
		}
		.value {
			font-size:2.4rem;
			font-weight:700;
			color:var(--gray-700);
		}
		.persent {
			position:absolute;
			right:2rem;
			top:1.6rem;
		}
	}
	.stat-card1 {
		.progress {
			.bar {
				span {
					background-color:#0d6efd;
				}
			}
			.legend {
				.primary {
					color:#0d6efd;
				}
			}
		}
	}
	.stat-card2 {
		.progress {
			.bar {
				span {
					background-color:#198754;
				}
			}
			.legend {
				.primary {
					color:#198754;
				}
			}
		}
	}
	.stat-card3 {
		.progress {
			.bar {
				span {
					background-color:#ffc107;
				}
			}
			.legend {
				.primary {
					color:#ffc107;
				}
			}
		}
	}
	.stat-card4 {
		.progress {
			.bar {
				span {
					background-color:#dc3545;
				}
			}
			.legend {
				.primary {
					color:#dc3545;
				}
			}
		}
	}
	.card-con, .tab-content {
		flex:1;
	}
}

.chart-container {
	
}

.task-list, .board-list {
	overflow-y:auto;
	overflow-x:hidden;
	max-height:38rem;
}
.task-list {
	> ul {
		> li {
			display:flex;
			align-items:center;
			justify-content:space-between;
			padding:1.3rem 0;
			border-top:1px solid var(--gray-100);
			&:first-child {
				border-top:0;
			}
		}
	}
	.choice {
		input:checked ~ .label {
			text-decoration:line-through;
		}
	}
}
.board-list {
	> ul {
		> li {
			border-top:1px solid var(--gray-100);
			&:first-child {
				border-top:0;
			}
			& ~ li {
				margin-top:-1px;
			}
			&:hover {
				background-color:var(--gray-50);
			}
			&.pin {
				background-color:#fffee2;
			}
			> div {
				display:flex;
				gap:.8rem;
				padding:1.2rem .8rem;
			}
		}
	}
	.ico {
		flex:none;
		width:3.6rem;
		height:3.6rem;
		background-repeat:no-repeat;
		background-position:50%;
		background-size:1.8rem;
		border-radius:50%;
		&.ico1 {
			background-image:url(../images/ico/ico_etc1_b.png);
		}
		&.ico2 {
			background-image:url(../images/ico/ico_etc2_b.png);
		}
		&.ico3 {
			background-image:url(../images/ico/ico_etc3_b.png);
		}
		&.ico4 {
			background-image:url(../images/ico/ico_etc4_b.png);
		}
		&.ico5 {
			background-image:url(../images/ico/ico_etc5_b.png);
		}
		&.ico6 {
			background-image:url(../images/ico/ico_etc6_b.png);
		}
		&.ico7 {
			background-image:url(../images/ico/ico_etc7_b.png);
		}
		&.ico8 {
			background-image:url(../images/ico/ico_etc8_b.png);
		}
		&:not(.notification .ico) {
			&.ico1 {
				background-color:rgba(59, 130, 246, 0.1);
			}
			&.ico2 {
				background-color:rgba(16, 185, 129, 0.1);
			}
			&.ico3 {
				background-color:rgba(14, 165, 233, 0.1);
			}
			&.ico4 {
				background-color:rgba(245, 158, 11, 0.1);
			}
			&.ico5 {
				background-color:rgba(239, 68, 68, 0.1);
			}
		}
	}
	.con {
		display:flex;
		flex-direction:column;
		gap:.2rem;
		.txt1 {
			display:flex;
			align-items:center;
			gap:.8rem;
			font-size:1.5rem;
			color:var(--gray-800);
		}
		.txt2 {
		}
		.txt3 {
			font-size:1.2rem;
			color:var(--gray-400);
		}
	}
}

/* =======================
	MOBILE
======================= */
@media only screen and (max-width: 650px) {
	.dashboard-wrap {
		.flex-list {
			display:block;
			.cards {
				& ~ .cards {
					margin-top:1.2rem;
				}
			}
		}
	}
}
